.App {
    text-align: center;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

.console-container {
    background: #353535;
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
    color: #ffffff;
    font-family: monospace;
    font-size: 1.5rem;
}

.console-prompt {
    word-break: break-all;
}

.console-cursor-idle{
    border: 2px #F0F8FF solid;
    border-top: none;
    border-left: none;
    border-right: none;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

.ls-object {
    color: #0066ff;
}

#nano-text-editor {
    position: absolute;
    height: 100%;
    background: aliceblue;
    width: 100%;
    top: 0;
    left: 0;
}

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}